.events{
    align-items: center; /* Center the content horizontally */
    justify-content: center;
}
.eventpage{
    max-width: 1350px;
    width: 100%;
    margin-top: 100px;

}
.header{
    justify-content: center;
    max-width: 100%;
    margin-bottom: 40px;
}
.head{
    text-align: center;
    font-size: 60px;
    font-weight: 450;
    color: rgb(10, 132, 15);
}
.body{
    padding: 30px;
    font-size:25px;
    
}
.event-item{
    margin-top: 60px;
    width: 100%;
    
}
.inside-event-item{
    display: flex;
    padding: 60px;

}
.event-details{
    flex: 1;
    padding: 0 50px;
    
    
}
.name{
    font-size: 50px;
    color: rgb(107, 204, 111);
    margin-bottom: 20px;
}
.details{
    font-size: 25px;
}

.eventpic {
    flex: 1;
    background-image: url('../images/navbar.jpg'); 
    height: 400px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative; 
    display: flex;
    align-items: flex-end; /* Align content to the bottom */
  justify-content: center; 
  }
  
  .eventpic::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(3, 17, 4, 0.668); 
    z-index: 1;
  }
  
  .eventpic .content {
    position: relative;
    font-family: 'Oxanium';
    font-style: normal;
    font-size: 60px;
    padding: 20px; 
    z-index: 2; 
    color: white; 
  }

.event-btn{
    background-color: rgb(10, 132, 15);
    padding: 15px 60px; 
    border-radius: 15px;
    color: white;
    font-size: 15px;
    /* font-family: 'oxanuium'; */
    border: none;
    cursor: pointer; 
    position: relative;
    margin-top: 40px;
    /* margin: 0 auto;  */
    display: block; 
}
.event-btn:hover{
    background-color: rgb(39, 114, 54);
}


