.navbar-pic {
    position: relative;
    background-image: url('../images/navbar.jpg');
    width: 100%;
    max-width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
}

.navbar-pic::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 17, 4, 0.769);
    pointer-events: none;
    z-index: 1; 
}
.navbar-pic.navbar-pic-small{
    height: 144px;
}
.navbar-pic.navbar-pic-profile{
  height: 500px;
}
  .navbar-scaffold{
    max-width:100%;
  }
.navbar {
    position: relative;
    font-size: 20px;
    color: white;
    z-index: 10;
    height: 100px;
     width: 80%; 
    margin: 0 auto;
    margin-top: 40px; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-bottom: 2px solid white;
    overflow: visible;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    align-items: center;
    height: inherit;
  }
  
  .navbar li {
    margin: 0 12px;
    color: white;

  }
  
  .carnival-logo {
    height: 100px;
    width: auto;
  }
  
  .link {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-right: 20px;
  }
  .active{
    color: rgb(103, 210, 108);
  }

  .welcome{
    display: flex;
    position: relative;
    height: 600px;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 8;
    font-family: "Oxanium"
  }
  .welcome-inside{
    width: 60%;   
  }
  .welcome-inside ul {
    font-size: 4rem;
   
    line-height: 100px;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.welcome-inside li {
    line-height:90px;
    text-align: center;
    margin: 5px 0;
    
    
}
.profile-container {

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.dropdown-menu {
  display: flex;
  position: absolute;
  background-color: rgb(103, 210, 108);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
  z-index: 1000;
  flex-direction: column;
  right: 0; /* Aligns the dropdown with the icon */
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.dropdown-menu li {
  padding: 8px 0;
}

.dropdown-menu a {
  text-decoration: none;
  color: white;
}

.dropdown-menu a:hover {
  text-decoration: underline;
}
.logout:hover{
  text-decoration: underline;
  cursor: pointer;

}
.my_profile{
  font-size: 60px;
}
.admin_welcome{
  text-align: center;
  font-size: 100px;
  font-weight: 500;
}